html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background: url('../images/tłoAppkiREV.png') fixed;
    background-size: cover;
}

#container {
    min-height: 100%;
    position: relative;
}

header {
    padding: 10px;
    border-bottom: saddlebrown solid 7px !important;
}

#main {
    /*padding: 10px;*/
    padding-bottom: 60px; /* Height of the footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    text-align: center;
    font-size: 1em;
    background: transparent;
}

@font-face {
    font-family: 'MyFont';
    /*src: url(RemachineScript.ttf);*/
}

.navbar-container {
    background-color: #666666;
}

.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    /*height: 100%;*/
    padding: 0;
}

#img {
    float: left;
    height: 100px;
    display: inline-block !important;
}

#logo-title {
    font-size: 46px;
    float: left;
    color: #ffffff;
    margin: 0px;
    margin-top: 44px;
}

.zeg {
    float: left;
    padding-right: 10px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.inline {
    float: left;
}

.clearBoth {
    clear: both;
}

#przywitanie {
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
    padding-top: 51px;
    padding-right: 51px;
}

.tytul {
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.44);
}

.r {
    text-align: right;
}

.c {
    text-align: center;
    margin-top: 13px;
}

.yI {
    margin-top: 10px;
    padding-left: 3px;
    position: relative;
    font-size: 22px;
    height: 30px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    color:black;

    border-bottom-width: 0px ;
    border-top-width: 0px ;
}

.nf {
    text-align: left;
    position: relative;
    display: inline;
}

.allert {
    min-height: 70px;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.navbar-right {
    margin-right: 0px;
    margin-left: 0px;
}

input::placeholder {
    color: #1b1e21;
    align: center;
    opacity: 0.3;

}

label {
    width: 100px;
    margin-bottom: 3px;
}

.opis {
    font-size: 20px;
}