.boix
{
    padding: 2%;
    width: 	96%;
    height: 80%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.pZam
{    border: 3px solid steelblue;    }


.pKat
{
    border-top:    3px solid steelblue;
    border-right:  3px solid steelblue;
    border-bottom: 3px solid steelblue;
    height: 538px;
}

.elems {
    text-align: center;
    font-size: medium;
}
.cBattonNavKat
{
    position: relative;
    background-color: steelblue;
    color: black;
    padding: 16px;
    font-size: 16px;
    width: 49.5%;
    height: 10%;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-top-left-radius:  10px;
}

.cBattonNavZam
{
    position: relative;
    background-color: gray;
    color: black;
    padding: 16px;
    font-size: 16px;
    width: 49.5%;
    height: 10%;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-top-left-radius:  10px;
}

.f1Batton
{
    margin-left: 2%;
    width: 42%;
    position: relative;
    background-color: gray;
    color: black;
    padding: 16px;
    font-size: 24px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    box-shadow: 4px 4px #666666;
}

.f2Batton
{
    top: -50px;
    margin-left: 46%;
    width: 42%;
    position: relative;
    background-color: red;
    color: black;
    padding: 16px;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    box-shadow: 4px 4px #666666;
}

.nav
{
    position: relative;
    overflow: hidden;
    height: 54px;
}

.cBattonKat
{
    float: left;
    margin:2%;
    width:20%;
    height:13%;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.63);
    background-color: rgba(35, 35, 35, 0.58);
}

.tableName:first-letter
{
    text-transform: uppercase;
}

.cKategoria:hover .cDivOp
{
    visibility: visible;
}

.boix > .zam
{
    width: 33%;
    overflow: hidden;
}

.pZam
{    height: 538px;    }

.boix >.kat
{    width: 67%;    }

.pKat
{    height: 538px;    }

#pZaP
{
    margin-top: 200px;
    font-size: 24px;
    font-weight: bold;
}

.yII
{
    font-size: 20px;
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    background-color: red;
    margin-top: 20px;
    border-style: none;
    box-shadow: 3px 3px #AA000088;
}

.my_form
{
    clear: both;
    min-height:90px;
}

footer {
    right: 0px;
}