.nf
{
    text-align: right;
    font-size: 20px;
    width: 60px;
    position: relative;
    display: inline-block;
}

span
{
    margin-left: 45%;
    margin-top: 5px;
    text-align: center;
    display: block;
    width: 200px;
    font-size: 18px;
    max-width: 400px;
    color: #AA0000;
}

span:empty
{
    visibility: hidden;
    min-height: 0px;
}

.my_form
{
    min-height: 300px;
}

.topMarg {
    margin-top: 180px;
}

.yII
{
    font-size: 20px;
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    background-color: red;
    margin-top: 20px;
    border-style: none;
    box-shadow: 3px 3px #AA000088;
}