body
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

@font-face

{
    font-family: 'MyFont';
    /*src: url(RemachineScript.ttf);*/
}

/*p*/
/*{*/
    /*text-align: center;*/
    /*font-family: 'MyFont', times new roman;*/
    /*font-size: 100px;*/
    /*color: red;*/
    /*font-weight: bold;*/
    /*text-shadow: 5px 5px #AA000088;*/
/*}*/

form
{
    padding-bottom: 0%;
    text-align: center;
    visibility: hidden;
}

input
{
    margin-top: 10px;
    position: relative;
    display: inline;
    background-color: yellow;
    color: black;
    font-size: 22px;
    height: 30px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
}

input:hover
{
    background-color: #FFFF44;
}

.boix
{
    padding: 2%;
    width: 	96%;
    height: 80%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.pZam
{
    overflow-y: scroll;
    height: fit-content;
    border: 3px solid #ffbb39;

}


.pKat
{
    border: 3px solid #c2881a;
    height: 538px;
}

.cBattonNavKat
{
    position: relative;
    background-color: steelblue;
    color: black;
    padding: 16px;
    font-size: 16px;
    width: 49.5%;
    height: 10%;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-top-left-radius:  10px;
}

.f1Batton
{
    margin-left: 2%;
    width: 42%;
    position: relative;
    background-color: gray;
    color: black;
    padding: 16px;
    font-size: 24px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    box-shadow: 4px 4px #666666;
}

.f2Batton
{
    top: -50px;
    margin-left: 46%;
    width: 42%;
    position: relative;
    background-color: red;
    color: black;
    padding: 16px;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    box-shadow: 4px 4px #666666;
}

.nav
{
    position: relative;
    overflow: hidden;
    height: 54px;
}

.c
{    text-align: center;    }

.cKategoria:hover .cDivOp
{
    visibility: visible;
}

.boix > .zam
{
    width: 33%;
    overflow: hidden;
}

.pZam
{
    height: 538px;
    border-bottom: 3px solid #c2881a;
    border-left: 3px solid #c2881a;
    border-top: 3px solid #c2881a;
}

.boix >.kat
{    width: 67%;    }

.pKat
{
    overflow-y: scroll;
    height: 538px;
}

#pZaP
{
    font-size: 24px;
    font-weight: bold;
}
.greeting
{
    margin-top: 200px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#cover
{
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: #00000077;
    background-size: cover;
    bottom: 0px;
}

#cover table
{
    border-color: #c0c0c0;
    border-width: 2px 4px 4px 2px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 38%;
    height: 20%;
    width: 24%;
    border-radius: 5%;
    background-color: #fff;
    text-align: center;
}

#alertTitle
{
    border-radius: 40%;
    background-color: #B0B0B0;
    font-weight: bold;
    height: 20px;
    text-align: center;
}

#alertBs button
{
    margin-top: 5%;
    border-radius: 10%;
    background-color: #E9E9CF;
    color: #000000;
    font-weight: bold;
    width: 125px;
    height: 33px;
    padding-left: 20px;
}

#suma
{
    display: inline;
    white-space:nowrap;
    font-size: 26px;
}

.nf
{
    text-align: left;
    width: 100px;
    position: relative;
    display: inline;
}

.b20px
{
    display: block;
    margin-left: 35%;
    text-align: justify;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
}