{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/zegar.js') }}"></script>
    <script>
        window.onload=zegar;
    </script>

{% endblock %}

{% block main %}
<div>
    <form class="my_form c" action="{% block target %}{% endblock %}" method="post">
        <span>{{ err }}</span>
        {% block form %}{% endblock %}
        <input class="yII" type="submit" value="Zaloguj"><br/>
        <input class="yII" type="button" value="Powrót" onclick="window.location.href='/';">
    </form>
    {% block register %}{% endblock %}
    <div id="zeg" class="zeg"></div>
</div>
{% endblock %}

