<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="System pozwalający na zamawianie przez internet.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block sources %}{% endblock %}
</head>
<body>

    {% block main %}{% endblock %}

    </div>
    <footer id="cOrder">
        <details>
            <summary>Copyright 2018. All Rights Reserved &copy;</summary>
            <p>Śledź Kacper, Jonasz Śmietana, Ewa Skórska, Przemysław Fułek, PWr W8 ZTW - lab lato 2017/2018<p>
        </details>
    </footer>
</body>
