{% extends 'Layouts/main.html.twig' %}

{% block sources %}
    <title>Books</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Records</h1>
    <table>
        <tr>
            <th>nazwa</th>
            <th>opis</th>
            <th>akcja</th>
        </tr>
        {% for row in table %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.description }}</td>
                <td><a href="{{ url('start') }}">Edytuj</a> </td>
            </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}