{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/staly_klient_zaloz_konto.css') }}"/>
{% endblock %}

{% block main %}
    <form class="my_form c topMarg">
        <input id="order" class="yII" type="button" value="Otwórz rachunek"><br>
        <input id="orderOnTime" class="yII" type="button" value="Zamów na godzinę"><br>
        <input id="reservations" class="yII" type="button" value="Rezerwacje"><br>
        <input id="signOut" class="yII" type="button" value="Wyloguj">
    </form>
    <div id="zeg" class="zeg c"></div>

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/client.js') }}"></script>
{% endblock %}

