{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/start.css') }}"/>
    <script>
        window.onload=zegar;
    </script>

{% endblock %}

{% block main %}
    <div class="content row">
        <div id="title" class="col-md-6">
            <p class="tytul">Nie czekaj na kelnera! </br> Sam złóż zamówienie</p>
        </div>
        <div id="options" class="col-md-2">

            <form class="my_form c">
                <input class="yII" type="button" value="Zaloguj" onclick="window.location.href='/staly_klient_logowanie';"><br>
                <input class="yII" type="button" value="Jestem w restauracji" onclick="window.location.href='/gosc_logowanie';"><br>
                <input class="yII" type="button" value="Nasze Menu" onclick="window.location.href='/menu';"><br>
                <input class="yII" type="button" value="Podgląd sali" onclick="window.location.href='/podglad_sali';">
            </form>

        </div>
    </div>
{% endblock %}

